{
    admin off
    auto_https disable_redirects
    email @@EMAIL@@
    servers {
        protocols h1 h2
    }
}
@@DOMAIN@@ {
    tls {
        issuer acme {
            disable_http_challenge
        }
    }
    reverse_proxy 127.0.0.1:4080
}
